<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.app.transfer.dao.PriceMapper">
  <resultMap id="BaseResultMap" type="com.xz.app.transfer.domain.Price">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ac02id" jdbcType="INTEGER" property="ac02id" />
    <result column="AC01ID" jdbcType="BIGINT" property="ac01id" />
    <result column="AA01002" jdbcType="VARCHAR" property="aa01002" />
    <result column="AA02001" jdbcType="VARCHAR" property="aa02001" />
    <result column="aa02002" jdbcType="VARCHAR" property="aa02002" />
    <result column="ac02001" jdbcType="DECIMAL" property="ac02001" />
    <result column="ac02002" jdbcType="DECIMAL" property="ac02002" />
    <result column="ac02003" jdbcType="DECIMAL" property="ac02003" />
    <result column="ac02004" jdbcType="DECIMAL" property="ac02004" />
    <result column="AA11001" jdbcType="VARCHAR" property="aa11001" />
    <result column="ab13004" jdbcType="INTEGER" property="ab13004" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ac02id, AC01ID, AA01002, AA02001, aa02002, ac02001, ac02002, ac02003, ac02004, 
    AA11001, ab13004
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xz.app.transfer.domain.Price">
    insert into price (id, ac02id, AC01ID, 
      AA01002, AA02001, aa02002, 
      ac02001, ac02002, ac02003, 
      ac02004, AA11001, ab13004
      )
    values (#{id,jdbcType=INTEGER}, #{ac02id,jdbcType=INTEGER}, #{ac01id,jdbcType=BIGINT}, 
      #{aa01002,jdbcType=VARCHAR}, #{aa02001,jdbcType=VARCHAR}, #{aa02002,jdbcType=VARCHAR}, 
      #{ac02001,jdbcType=DECIMAL}, #{ac02002,jdbcType=DECIMAL}, #{ac02003,jdbcType=DECIMAL}, 
      #{ac02004,jdbcType=DECIMAL}, #{aa11001,jdbcType=VARCHAR}, #{ab13004,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xz.app.transfer.domain.Price">
    insert into price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ac02id != null">
        ac02id,
      </if>
      <if test="ac01id != null">
        AC01ID,
      </if>
      <if test="aa01002 != null">
        AA01002,
      </if>
      <if test="aa02001 != null">
        AA02001,
      </if>
      <if test="aa02002 != null">
        aa02002,
      </if>
      <if test="ac02001 != null">
        ac02001,
      </if>
      <if test="ac02002 != null">
        ac02002,
      </if>
      <if test="ac02003 != null">
        ac02003,
      </if>
      <if test="ac02004 != null">
        ac02004,
      </if>
      <if test="aa11001 != null">
        AA11001,
      </if>
      <if test="ab13004 != null">
        ab13004,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ac02id != null">
        #{ac02id,jdbcType=INTEGER},
      </if>
      <if test="ac01id != null">
        #{ac01id,jdbcType=BIGINT},
      </if>
      <if test="aa01002 != null">
        #{aa01002,jdbcType=VARCHAR},
      </if>
      <if test="aa02001 != null">
        #{aa02001,jdbcType=VARCHAR},
      </if>
      <if test="aa02002 != null">
        #{aa02002,jdbcType=VARCHAR},
      </if>
      <if test="ac02001 != null">
        #{ac02001,jdbcType=DECIMAL},
      </if>
      <if test="ac02002 != null">
        #{ac02002,jdbcType=DECIMAL},
      </if>
      <if test="ac02003 != null">
        #{ac02003,jdbcType=DECIMAL},
      </if>
      <if test="ac02004 != null">
        #{ac02004,jdbcType=DECIMAL},
      </if>
      <if test="aa11001 != null">
        #{aa11001,jdbcType=VARCHAR},
      </if>
      <if test="ab13004 != null">
        #{ab13004,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xz.app.transfer.domain.Price">
    update price
    <set>
      <if test="ac02id != null">
        ac02id = #{ac02id,jdbcType=INTEGER},
      </if>
      <if test="ac01id != null">
        AC01ID = #{ac01id,jdbcType=BIGINT},
      </if>
      <if test="aa01002 != null">
        AA01002 = #{aa01002,jdbcType=VARCHAR},
      </if>
      <if test="aa02001 != null">
        AA02001 = #{aa02001,jdbcType=VARCHAR},
      </if>
      <if test="aa02002 != null">
        aa02002 = #{aa02002,jdbcType=VARCHAR},
      </if>
      <if test="ac02001 != null">
        ac02001 = #{ac02001,jdbcType=DECIMAL},
      </if>
      <if test="ac02002 != null">
        ac02002 = #{ac02002,jdbcType=DECIMAL},
      </if>
      <if test="ac02003 != null">
        ac02003 = #{ac02003,jdbcType=DECIMAL},
      </if>
      <if test="ac02004 != null">
        ac02004 = #{ac02004,jdbcType=DECIMAL},
      </if>
      <if test="aa11001 != null">
        AA11001 = #{aa11001,jdbcType=VARCHAR},
      </if>
      <if test="ab13004 != null">
        ab13004 = #{ab13004,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xz.app.transfer.domain.Price">
    update price
    set ac02id = #{ac02id,jdbcType=INTEGER},
      AC01ID = #{ac01id,jdbcType=BIGINT},
      AA01002 = #{aa01002,jdbcType=VARCHAR},
      AA02001 = #{aa02001,jdbcType=VARCHAR},
      aa02002 = #{aa02002,jdbcType=VARCHAR},
      ac02001 = #{ac02001,jdbcType=DECIMAL},
      ac02002 = #{ac02002,jdbcType=DECIMAL},
      ac02003 = #{ac02003,jdbcType=DECIMAL},
      ac02004 = #{ac02004,jdbcType=DECIMAL},
      AA11001 = #{aa11001,jdbcType=VARCHAR},
      ab13004 = #{ab13004,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertBatch" parameterType="list">
    insert into price (ac02id, AC01ID,
    AA01002, AA02001, aa02002,
    ac02001, ac02002, ac02003,
    ac02004, AA11001, ab13004,
    aa11002
    )

    values
    <foreach collection="list" item="item" separator=",">
      (
     #{item.ac02id,jdbcType=INTEGER}, #{item.ac01id,jdbcType=BIGINT},
    #{item.aa01002,jdbcType=VARCHAR}, #{item.aa02001,jdbcType=VARCHAR}, #{item.aa02002,jdbcType=VARCHAR},
    #{item.ac02001,jdbcType=DECIMAL}, #{item.ac02002,jdbcType=DECIMAL}, #{item.ac02003,jdbcType=DECIMAL},
    #{item.ac02004,jdbcType=DECIMAL}, #{item.aa11001,jdbcType=VARCHAR}, #{item.ab13004,jdbcType=INTEGER},
      #{item.aa11002,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <insert id="insertYbjBatch" parameterType="list" >
    insert into ybj_data(

		yka094,
		akb020,
		akc225,
		yke123,
		yka003,
		yka007,
		yke135,
		aka074,
		yke059,

		yka295,
		yka340,
		akb021,
		aae006,
	    ykz003,
        akb022,
        yke400,
        yke398,
        time
    )
    VALUES
    <foreach collection="list" item="item" separator=",">
      (
      #{item.yka094,jdbcType=VARCHAR},
      #{item.akb020,jdbcType=VARCHAR},
      #{item.akc225,jdbcType=DECIMAL},
      #{item.yke123,jdbcType=TIMESTAMP},
      #{item.yka003,jdbcType=VARCHAR},
      #{item.yka007,jdbcType=VARCHAR},
      #{item.yke135,jdbcType=VARCHAR},
      #{item.aka074,jdbcType=VARCHAR},
      #{item.yke059,jdbcType=VARCHAR},

      #{item.yka295,jdbcType=VARCHAR},
      #{item.yka340,jdbcType=VARCHAR},
      #{item.akb021,jdbcType=VARCHAR},
      #{item.aae006,jdbcType=VARCHAR},
      #{item.ykz003,jdbcType=VARCHAR},
      #{item.akb022,jdbcType=VARCHAR},
      #{item.yke400,jdbcType=VARCHAR},
      #{item.yke398,jdbcType=VARCHAR},
      #{item.time,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insertYbj" parameterType="hashmap" >
    insert into ybj_data(

    yka094,
    akb020,
    akc225,
    yke123,
    yka003,
    yka007,
    yke135,
    aka074,
    yke059,

    yka295,
    yka340,
    akb021,
    aae006,
    ykz003,
    akb022,
    yke400,
    yke398,
    time
    )
    VALUES
      (
      #{yka094,jdbcType=VARCHAR},
      #{akb020,jdbcType=VARCHAR},
      #{akc225,jdbcType=DECIMAL},
      #{yke123,jdbcType=TIMESTAMP},
      #{yka003,jdbcType=VARCHAR},
      #{yka007,jdbcType=VARCHAR},
      #{yke135,jdbcType=VARCHAR},
      #{aka074,jdbcType=VARCHAR},
      #{yke059,jdbcType=VARCHAR},
      #{yka295,jdbcType=VARCHAR},
      #{yka340,jdbcType=VARCHAR},
      #{akb021,jdbcType=VARCHAR},
      #{aae006,jdbcType=VARCHAR},
      #{ykz003,jdbcType=VARCHAR},
       #{akb022,jdbcType=VARCHAR},
        #{yke400,jdbcType=VARCHAR},
       #{yke398,jdbcType=VARCHAR},
       #{time,jdbcType=VARCHAR}
      )
  </insert>
</mapper>