<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.app.transfer.daoread.DataTransMapper">

<select id="selectPrice" resultType="com.xz.app.transfer.domain.DataTransEntity" parameterType="hashmap">
  SELECT
    a.ac02id,
    a.AC01ID,
	a.AA01002,
	a.AA02001,
	a.aa02002,
	a.ac02001,/*零售价*/
    a.ac02002,/*批发价*/
	a.ac02003,/*超市价*/
	a.ac02004,/*集市价*/
	b.AA11001,
	c.ab13004,
	b.aa11002
FROM
    ja_acx_02 a,
	ja_acx_01 b,
	ja_abp_13 c
WHERE
	a.AC01ID = b.ac01id
AND b.ab13id = c.ab13id
AND c.ab13004 = #{ab13004,jdbcType=BIGINT} and b.AB11ID in (3,65,66)
</select>

	<select id="selectYbj" resultType="hashmap" parameterType="hashmap">
		SELECT

		a.yka094,
		a.akb020,
		a.akc225,
		a.yke123,
		b.yka003,
		b.yka007,
		b.yke135,
		b.aka074,
		b.yke059,
		/* b.yke023,*/
		b.yka295,
		b.yka340,
		c.akb021,
		c.aae006,
		c.ykz003,
		c.akb022,
		c.yke400,
		c.yke398,
    CONVERT(varchar(20),a.aae036, 108) as time
		FROM
		ybj_price_base a,
		ybj_drug_info b,
		ybj_org_info c
		WHERE
$PARTITION.partitionFunByDateForYbj(aae036)=10
and
		a.yka094 = b.yka266
		AND
		a.akb020 = c.akb020

		AND  a.aae036  BETWEEN '2017-12-22 00:00:00' and '2017-12-22 23:59:59';
	</select>
</mapper>